@use "bootstrap.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  display: grid;
  min-block-size: 100%;
  scroll-behavior: smooth;
}

body {
  display: grid;
  min-block-size: 100%;
  grid-template-rows: auto 1fr;
  margin: 0;
  font-family: var(--ff-base);
  font-style: normal;
  font-weight: var(--fw-regular);
  font-size: 14px;
  line-height: 143%;
  color: var(--base-black);
  background-color: var(--bg-lightest-grey);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
