:root {
  // Base Colors
  --base-white: #ffffff;
  --base-grey: #bdbdbd;
  --base-black: #333333;
  --base-primary: #7859cf;
  --base-secondary: #f0ebff;

  // Alt Colors
  --alt-primary-opacity-0_25: rgba(120, 89, 207, 0.25);
  --alt-primary-lighter: #9070ec;
  --alt-primary-darker: #593cac;
  --alt-light-grey: #e2e2e2;

  // Background Colors
  --bg-lightest-grey: #f8f8f8;
  --bg-flat-white: #f3ebe1;
  --bg-lavender-latte: #eae6fc;
  --bg-espresso: #e5e6e8;

  // Font families
  --ff-base: "Montserrat", "Arial", sans-serif;

  // Font weights
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

// Break point
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
