@use "../../bootstrap.scss" as *;

.button {
  display: grid;
  place-content: center;
  width: 100%;
  padding: 21px;
  font-family: inherit;
  font-weight: 600;
  font-size: 24px;
  line-height: 124%;
  text-transform: uppercase;
  align-items: center;
  color: $color-default-white;
  background-color: $color-safety-orange;
  border-radius: 20px;
  border: none;
  transition: background-color $trans-default;

  &:hover,
  &:focus {
    background-color: $color-safety-orange-70;
  }

  &:active {
    background-color: $color-night-rider;
  }

  &:disabled {
    background-color: $color-silver;
    cursor: default;
  }

  @include vp-767 {
    font-size: 22px;
  }
}
