.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 97px;
  padding: 60px;
  border-radius: 40px;
  background-color: $color-night-rider;

  @include vp-767 {
    gap: 60px;
    padding: 40px;
  }
}

.banner__wrapper {
  max-width: 760px;

  @include vp-1439 {
    max-width: none;
  }
}

.banner__title {
  margin: 42px 0 40px;
  font-family: $ff-montserrat;
  font-weight: 700;
  font-size: 48px;
  line-height: 108%;
  color: $color-default-white;

  @include vp-1279 {
    font-size: 44px;
  }

  @include vp-1023 {
    font-size: 40px;
  }

  @include vp-767 {
    margin: 0 0 40px;
    font-size: 28px;
  }
}

.banner__img {
  position: relative;
  max-width: 683px;

  &::before {
    position: absolute;
    left: 10%;
    bottom: 1%;
    transform: translateX(-50%) rotate(-15deg);
    display: block;
    width: 88px;
    height: 88px;
    mask-image: url("../../images/icons/stack.svg#star");
    mask-repeat: no-repeat;
    background-image: $stars-to-right;
    content: "";
  }

  @include vp-767 {
    &::before {
      width: 44px;
      height: 44px;
    }
  }
}

.banner__img img {
  width: 683px;
}
