@use "../bootstrap.scss" as *;

.custom-menu {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 180px;

  @media (min-width: $desktop-width) {
    gap: 16px;
    max-width: 300px;
  }
}

.custom-menu__item {
  &--burger {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.custom-menu__link {
  @include reset-link;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding: 22px;

  &:hover,
  &:focus {
    color: var(--base-primary);
  }

  &:active {
    background-color: var(--base-secondary);
  }

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }
}

.custom-menu__burger {
  margin-right: -20px;
}

.custom-menu__text {
  position: fixed;
  margin: 0;
  font-weight: var(--fw-medium);
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transform: scale(0);

  @media (min-width: $desktop-width) {
    position: static;
    transform: none;
  }
}
