@use "../bootstrap.scss" as *;

.filter-price__range {
  margin: 30px 0 34px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 30px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 30px 0 32px;
  }
}

// Стили библиотеки no-ui-slider

/* stylelint-disable */
.filter-price__range.noUi-target {
  width: calc(100%);
  background-color: var(--alt-light-grey);
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.filter-price__range.noUi-horizontal {
  height: 4px;
  width: 256px;
  margin-left: 24px;

  @media (min-width: $tablet-width) {
    width: 198px;
  }

  @media (min-width: $desktop-width) {
    width: 294px;
  }
}

.filter-price__range .noUi-connect {
  background-color: var(--alt-primary-lighter);
}

.filter-price__range.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  right: 0;
  top: 50%;
  transform: translateY(calc(-50% + 2px));
}

.filter-price__range .noUi-handle {
  box-shadow: none;
  border-radius: 50%;
  border: 2px solid var(--alt-primary-lighter);

  &::after {
    display: none;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    top: 2px;
    left: 2px;
    background-color: var(--alt-primary-opacity-0_25);
    content: "";
  }

  &:hover::after {
    display: block;
  }

  &::before {
    display: none;
  }
}

.filter-price__range .noUi-handle.noUi-active {
  box-shadow: none;

  &::after {
  display: block;
  background-color: var(--base-primary);
  }
}
/* stylelint-enable */

.filter-price__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;

  &::after {
    display: block;
    min-width: 8px;
    height: 2px;
    background-color: var(--base-grey);
    content: "";

    @media (min-width: $desktop-width) {
      min-width: 10px;
    }
  }
}

.filter-price__input {
  width: 118px;
  height: 40px;
  outline: none;
  border: 2px solid var(--alt-primary-lighter);
  border-radius: 4px;
  padding: 8px 10px;
  font-family: inherit;
  font-weight: var(--fw-medium);
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--base-black);
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &::placeholder {
    color: var(--base-grey);
  }

  @media (min-width: $tablet-width) {
    width: 88px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }

  &:focus {
    border-color: var(--alt-primary-darker);
  }

  &:disabled {
    border-color: var(--alt-light-grey);
    background-color: var(--bg-lightest-grey);
    color: var(--base-grey);
  }
}

.filter-price__input-wrapper {
  &--min {
    order: -1;
  }

  &--max {
    order: 1;
  }
}
