@use "../bootstrap.scss" as *;

.footer {
  background-color: var(--base-white);
  padding-bottom: 10px;

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.footer__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 30px;
    width: 1360px;
    margin: 0 auto;
    padding-top: 40px;
  }
}

.footer__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 40px 20px 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    width: 318px;
    padding: 0;
  }
}

.footer__logo {
  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.footer__logo-text {
  position: fixed;
  transform: scale(0);
  margin: 0 0 50px;

  @media (min-width: $desktop-width) {
    position: static;
    transform: none;
  }
}

.footer__logo-image {
  display: block;
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.footer__item {
  padding: 21px 20px 20px;
  outline: 1px solid var(--base-secondary);

  &--contacts {
    padding: 21px 20px 17px;
  }

  @media (min-width: $tablet-width) {
    width: 223px;
    padding: 0;
    outline: none;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
    padding-top: 10px;
  }
}

.footer__list-title {
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--base-primary);
}

.footer__list {
  @include reset-list;
  display: grid;
  row-gap: 4px;
}

.footer__list-link {
  @include reset-link;
  display: block;
  padding: 8px 0;
  font-weight: var(--fw-medium);
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: var(--alt-primary-lighter);
  }

  &:active {
    color: var(--alt-primary-darker);
  }
}

.footer__list-contacts {
  display: flex;
  column-gap: 6px;
  padding: 8px 0 4px;
  font-size: 14px;
  line-height: 143%;
  font-style: normal;
  color: var(--base-black);
  text-decoration: none;

  &::before {
    display: grid;
    min-width: 13px;
    height: 16px;
    margin-top: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "";
  }

  &--address {
    &::before {
      background-image: url("../../images/icons/stack.svg#point");
    }
  }

  &--tel {
    &::before {
      background-image: url("../../images/icons/stack.svg#phone");
    }

    &:hover,
    &:focus {
      color: var(--alt-primary-lighter);
    }

    &:active {
      color: var(--alt-primary-darker);
    }
  }
}

.footer__academy {
  display: grid;
  place-content: center;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0;
  }
}
