@use "../bootstrap.scss" as *;

.logo {
  display: flex;
  align-items: center;
  column-gap: 13px;
  min-width: 32px;
  min-height: 32px;

  @media (min-width: $tablet-width) {
    min-width: 89px;
  }

  @media (min-width: $desktop-width) {
    min-width: 320px;
  }
}

.logo__link {
  padding: 12px 0;

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 22px 0;
  }
}

.logo__image {
  width: 32px;
  height: 36px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 82px;
    margin-right: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.logo__title {
  position: fixed;
  width: 130px;
  margin: 0;
  font-weight: var(--fw-regular);
  font-size: 12px;
  line-height: 133%;
  color: var(--base-black);
  transform: scale(0);

  @media (min-width: $desktop-width) {
    position: static;
    transform: none;
  }
}
