.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1439 {
    gap: 15px;
  }

  @include vp-1279 {
    gap: 10px;
  }

  @include vp-1023 {
    display: grid;
  }
}

.nav__link {
  display: block;
  padding: 23px 15px;
  color: $color-default-white;
  transition: opacity $trans-default, color $trans-default;

  &:hover,
  &:focus {
    color: $color-silver;
  }

  &:active {
    color: $color-safety-orange;
  }

  &:not([href]) {
    color: $color-eclipse;
  }

  @include vp-1439 {
    padding: 10px;
  }

  @include vp-1279 {
    padding: 10px 5px;
  }

  @include vp-1023 {
    font-size: 24px;
    padding: 10px;
  }
}
