.page__hero {
  margin: -40px 0 126px;
}

.page__advantages {
  margin-bottom: 112px;

  @include vp-1279 {
    margin-bottom: 100px;
  }

  @include vp-1023 {
    margin-bottom: 80px;
  }
}

.page__prices {
  margin-bottom: 120px;

  @include vp-1279 {
    margin-bottom: 100px;
  }

  @include vp-1023 {
    margin-bottom: 80px;
  }
}

.page__clients {
  margin-bottom: 120px;

  @include vp-1279 {
    margin-bottom: 100px;
  }

  @include vp-1023 {
    margin-bottom: 80px;
  }
}

.page__reviews {
  margin-bottom: 120px;

  @include vp-1279 {
    margin-bottom: 100px;
  }

  @include vp-1023 {
    margin-bottom: 80px;
  }
}

.page__promo {
  margin-bottom: 120px;

  @include vp-1279 {
    margin-bottom: 100px;
  }

  @include vp-1023 {
    margin-bottom: 80px;
  }
}
