.reviews-video__link {
  width: 100%;
  min-width: 320px;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  aspect-ratio: 580 / 320;
}

.reviews-video__title {
  margin: 15px 0 0;
  font-weight: 400;
  font-size: 24px;
  color: $color-night-rider;
}
