.reviews__title {
  max-width: 900px;
  margin: 0 auto 18px;
  line-height: 120%;
}

.reviews__text {
  max-width: 800px;
  margin: 0 auto 38px;
  font-size: 32px;
  text-align: center;
  line-height: 120%;

  @include vp-1023 {
    font-size: 28px;
  }
}

.reviews__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 430px));
  justify-content: center;
  gap: 20px;
  margin: 0 0 41px;
  padding: 0;
  list-style: none;
}

.reviews__video-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 580px));
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
