@use "../bootstrap.scss" as *;

.slider {
  display: grid;
  row-gap: 10px;

  @media (min-width: $desktop-width) {
    row-gap: 0;
    grid-template-rows: minmax(630px, 1fr) auto;
  }
}

.slider__wrapper {
  position: relative;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.slider__pagination {
  z-index: 1;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.slider__list {
  @include reset-list;
  display: flex;
  transition: 1s all;
}

.slider__item {
  min-width: 100%;
  background-color: var(--bg-flat-white);

  &--flat-white {
    background-color: var(--bg-flat-white);

    @media (min-width: $tablet-width) {
      background-color: var(--base-white);
      background-image:
        linear-gradient(
          var(--bg-flat-white) 77.3%,
          transparent 77.3%
        );
    }

    @media (min-width: $desktop-width) {
      background-image: none;
      background-color: var(--bg-flat-white);
    }
  }

  &--espresso {
    background-color: var(--bg-espresso);

    @media (min-width: $tablet-width) {
      background-color: var(--base-white);
      background-image:
        linear-gradient(
          var(--bg-espresso) 77.3%,
          transparent 77.3%
        );
    }

    @media (min-width: $desktop-width) {
      background-image: none;
      background-color: var(--bg-espresso);
    }
  }

  &--lavender {
    background-color: var(--bg-lavender-latte);

    @media (min-width: $tablet-width) {
      background-color: var(--base-white);
      background-image:
        linear-gradient(
          var(---bg-lavender-latte) 77.3%,
          transparent 77.3%
        );
    }

    @media (min-width: $desktop-width) {
      background-image: none;
      background-color: var(--bg-lavender-latte);
    }
  }
}

.slider__button {
  @include reset-button;
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  color: var(--base-primary);
  z-index: 1;

  &--left {
    left: 0;

    &:hover,
    &:focus {
      background-image: linear-gradient(90deg, var(--base-white) 0%, transparent 100%);
    }

    &:active {
      background-image: linear-gradient(90deg, var(--alt-primary-opacity-0_25) 0%, var(--base-secondary) 100%);
    }
  }

  &--right {
    right: 0;

    &:hover,
    &:focus {
      background-image: linear-gradient(-90deg, var(--base-white) 0%, transparent 100%);
    }

    &:active {
      background-image: linear-gradient(-90deg, var(--alt-primary-opacity-0_25) 0%, var(--base-secondary) 100%);
    }
  }

  &:disabled {
    color: var(--base-grey);
    background-image: none;
    cursor: default;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 77.3%;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}
