@use "../bootstrap.scss" as *;

.slider-pagination {
  @include reset-list;
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 272px;
    margin: 0 auto 60px;
  }
}

.slider-pagination__item--current .slider-pagination__button {
  &::before {
    background-color: var(--base-primary);
  }
}

.slider-pagination__button {
  @include reset-button;
  display: none;
  padding: 10px 0;

  @media (min-width: $desktop-width) {
    display: block;

    &::before {
      display: block;
      width: 62px;
      height: 4px;
      background-color: var(--base-white);
      overflow: hidden;
      content: "";
    }

    &:hover::before,
    &:focus::before {
      background-color: var(--alt-primary-opacity-0_25);
    }

    &:active::before {
      background-color: var(--base-primary);
    }
  }
}
