.swiper {
  width: 100%;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $color-safety-orange;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  transition: background-color $trans-default;
  background-color: $color-gainsboro;
  opacity: 1;

  &:hover {
    background-color: $color-silver;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 77px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}
